<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
    <mat-card fxFlex="500px">
        <mat-card-header>
            <mat-card-title>Modify profile data:</mat-card-title>
        </mat-card-header>
        <form [formGroup]="profileForm" autocomplete="off" novalidate (ngSubmit)="modProfile(profileForm.value)"
            fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">

            <mat-card-content>
                <mat-form-field>
                    <input matInput class="form-control" placeholder="First name" formControlName="firstName"
                        id="firstName">
                    <mat-error *ngIf="hasError('firstName', 'required')">First name is required</mat-error>
                    <mat-error *ngIf="hasError('firstName', 'maxlength')">You have more than 60 characters</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput class="form-control" formControlName="lastName" placeholder="Last Name">
                    <mat-error *ngIf="hasError('lastName', 'required')">Last name is required</mat-error>
                    <mat-error *ngIf="hasError('lastName', 'maxlength')">You have more than 60 characters</mat-error>

                </mat-form-field>

                <mat-form-field>
                    <input matInput type="email" class="form-control" formControlName="email" placeholder="Email">
                    <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                    <mat-error *ngIf="hasError('email', 'email')">Email is not valid</mat-error>
                    <mat-error *ngIf="hasError('email', 'maxlength')">You have more than 254 characters</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput class="form-control" formControlName="messengerName"
                        placeholder="messenger username">
                </mat-form-field>

                <mat-form-field>
                    <input matInput class="form-control" formControlName="instagramName"
                        placeholder="instagram username">
                </mat-form-field>

                <mat-form-field>
                    <input matInput class="form-control" formControlName="neptunCode" placeholder="NEPTUN code">
                    <mat-error *ngIf="hasError('neptunCode', 'maxlength')">You have more than 6 characters</mat-error>
                </mat-form-field>

                <!--  <mat-form-field>
                    <input matInput type="password" class="form-control" formControlName="password1"
                        placeholder="Password">
                    <mat-hint>Have to be more than 6 characters.</mat-hint>
                    <mat-error *ngIf="hasError('firstName', 'required')">Name is required</mat-error>
                    <mat-error *ngIf="hasError('firstName', 'maxlength')">You have more than 60 characters</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" class="form-control" formControlName="password2"
                        placeholder=" Type password again">
                    <mat-hint>Have to be more than 6 characters.</mat-hint>
                </mat-form-field> -->

                <mat-form-field>
                    <mat-label>Subjects tutoring</mat-label>
                    <mat-select formControlName="tutoringSubjects" multiple [(ngModel)]="current_options"
                        [compareWith]="compareFn">
                        <mat-option *ngFor="let sub of subjects" [value]="sub">{{sub.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions fxLayoutAlign="end start">
                <button mat-raised-button color="primary" [disabled]="!profileForm.valid">Modify</button>
                <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>