<mat-card fxFlex="80%" fxFlex.xs="100%">
    <div id="neptun-details" [formGroup]="regForm">
        <div class="form-group col-md-4" formGroupName="neptunDetails" fxFlex="75%" fxFlex.xs="100%">
            <mat-form-field>
                <input matInput placeholder="NeptunCode" class="form-control" formControlName="neptuncode" />
            </mat-form-field> 
            <label>Grade book export</label>
            <app-file-upload class="form-control" formControlName="gradebook" [progress]="progress"></app-file-upload>
            <label>Courses export</label>
            <app-file-upload class="form-control" formControlName="courses" [progress]="progress"></app-file-upload>
        </div>
    </div>
    <br />
    <button mat-raised-button type="button" matStepperPrevious>Back</button>
    <button mat-raised-button type="button" matStepperNext (click)="step5Submitted()">Next</button>
</mat-card>