<mat-card fxFlex="80%" fxFlex.xs="100%">
    <div id="account-details" [formGroup]="regForm">
        <div class="form-group col-md-4" formGroupName="accountDetails" fxFlex="75%" fxFlex.xs="100%">
            <mat-form-field>
                <input matInput placeholder="Username" class="form-control" formControlName="username" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" class="form-control" formControlName="password" />
            </mat-form-field>
            <app-file-upload class="form-control" formControlName="image" [progress]="progress"></app-file-upload>
        </div>
    </div>
    <br />
    <button mat-raised-button type="button" matStepperPrevious>Back</button>
    <button mat-raised-button type="button" matStepperNext (click)="step3Submitted()">Next</button>
</mat-card>