<mat-card fxFlex="80%" fxFlex.xs="100%">
    <div id="contact-details" [formGroup]="regForm">
        <div class="form-group col-md-4" formGroupName="contactDetails" fxFlex="75%" fxFlex.xs="100%">
            <mat-form-field>
                <input matInput placeholder="Email" class="form-control" formControlName="email" />
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Messenger user name" class="form-control"
                    formControlName="messengerName" />
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Instagram user name" class="form-control"
                    formControlName="instagramName" />
            </mat-form-field>

        </div>
    </div>
    <br />
    <button mat-raised-button type="button" matStepperPrevious>Back</button>
    <button mat-raised-button type="button" matStepperNext (click)="step2Submitted()">Next</button>
</mat-card>