<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
    <mat-card fxFlex="300px">
        <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <img [src]="createImgPath()" alt="profile picture" class="profile-image">
            <h1>{{profile.firstName + ' ' + profile.lastName}}</h1>
            <div class="external-links" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="50px">
                <a [attr.href]="createMailTo()">
                    <mat-icon>email</mat-icon>
                </a>
                <a [attr.href]="createInstagramLink()" target="_blank">
                    <i color="primary" class="fab fa-instagram"></i>
                </a>
                <a [attr.href]="createMessengerLink()" target="_blank">
                    <i color="primary" class="fab fa-facebook-messenger"></i>
                </a>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="500px">
        <mat-card-header>
            <mat-card-title>About</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table class="table table-striped">
                <tr>
                    <td><label>Email: </label></td>
                    <td>{{profile.email}}</td>
                </tr>
                <tr>
                    <td> <label>Username: </label></td>
                    <td>{{profile.userName}}</td>
                </tr>
                <tr>
                    <td> <label>Date of birth: </label></td>
                    <td>{{profile.dateOfBirth}}</td>
                </tr>
                <tr>
                    <td><label>Gender type:</label></td>
                    <td>{{profile.genderType}}</td>
                </tr>
            </table>
            <br />
            <table class="table">
                <thead>
                    <th>Subjects tutoring:</th>
                </thead>
                <tbody>
                    <tr *ngFor="let subject of profile.tutoringSubjects">
                        <td>{{subject.name}}</td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div>