<div class="container-fluid">

<div fxLayoutAlign="center center">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <mat-card class="narrow-card" fxFlex="80%" fxFlex.xs="100%">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <div *ngIf="invalidLogin" class="alert alert-danger">{{errorMessage}}</div>
        <br />
        <mat-form-field>
          <input matInput type="text" placeholder="Username" id="username" name="Username" ngModel required autofocus>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" id="password" name="Password" ngModel required>
        </mat-form-field>
    </mat-card-content>
    <a routerLink="/registration"><label style="font-size: 12px;">Don't have an account? Register here!</label></a>
      
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>

</div>
</div>