<section fxLayout="row wrap" fxLayoutAlign="center center">
  <div id="registration" class="conatiner col-md-12">
    <form id="regForm" [formGroup]="registrationForm">
      <h1 class="text-align:center">Registration</h1>
      <mat-vertical-stepper #stepper linear>
        <mat-step formGroupName="personalDetails" [stepControl]="registrationForm.get('personalDetails')">
          <ng-template matStepLabel>Enter General informations</ng-template>
          <app-reg-step1 [regForm]="registrationForm"></app-reg-step1>
        </mat-step>
        <mat-step formGroupName="contactDetails" [stepControl]="registrationForm.get('contactDetails')">
          <ng-template matStepLabel>Enter Contact Details</ng-template>
          <app-reg-step2 [regForm]="registrationForm"></app-reg-step2>
        </mat-step>
        <mat-step formGroupName="accountDetails" [stepControl]="registrationForm.get('accountDetails')">
          <ng-template matStepLabel>Enter Account Details</ng-template>
          <app-reg-step3 [regForm]="registrationForm"></app-reg-step3>
        </mat-step>
        <mat-step formGroupName="neptunDetails" [stepControl]="registrationForm.get('neptunDetails')">
          <ng-template matStepLabel>Neptun Details</ng-template>
          <app-reg-step5 [regForm]="registrationForm"></app-reg-step5>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Confirm Details</ng-template>
          <app-reg-step4 [regForm]="registrationForm"></app-reg-step4>
        </mat-step>
      </mat-vertical-stepper>
    </form>
  </div>
</section>