<div>
    <span>Choose file</span>
    <span>{{file ? file.name : ' or drag and drop file here' }}</span>
    <input class="file-input" type="file" #file placeholder="Choose file" style="display:none;">
    <button mat-raised-button color="primary" type="button" (click)="file.click()">Upload File</button>
</div>
<!-- <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar> -->
