<mat-nav-list>
    <a mat-list-item routerLink="/study-buddy/list" (click)="onSidenavClose()">
        <span class="nav-caption">Study Buddy</span>
        <span mat-button routerLink="/profile"> My profile </span>
        <span mat-button routerLink="/study-buddy/list">Study Group</span>
        <span mat-button routerLink="/study-buddy/study-team-search">Team project</span>
        <span mat-button routerLink="404">Find Tutor</span>

    </a>
</mat-nav-list>