a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    color: lightgray;
  }
  
  .navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .active{
    font-weight: bold;
    font-style: italic;
    color:lightblue;
}