<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="80%" fxFlex.xs="100%">
        <mat-card-header>
            <mat-card-title>Filter parameters</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="filters-form" fxLayout="row wrap">
                <mat-form-field fxFlex="50%" fxFlex.xs="100%">
                    <input matInput type="text" placeholder="Please choose a subject" aria-label="Tantárgy"
                        [formControl]="subjectControl" [matAutocomplete]="subjectAutocomplete">
                    <mat-autocomplete #subjectAutocomplete="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject">
                            {{subject.displayName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="search()">Search</button>
        </mat-card-actions>
    </mat-card>

    <mat-card fxFlex="80%" fxFlex.xs="100%" style="margin: 10px;">
        <mat-card-content>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                    </ng-container>
                    <ng-container matColumnDef="details">
                            <th mat-header-cell *matHeaderCellDef > Details </th>
                            <td mat-cell *matCellDef="let element" >
                            <button mat-icon-button color="primary" (click)="redirectToDetails(element.id)">
                                <mat-icon class="mat-18">reorder</mat-icon>
                            </button>
                            </td>
                        </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</section>