<mat-card fxFlex="80%" fxFlex.xs="100%">
    <div id="personal-details" [formGroup]="regForm" >
        <div class=" form-group col-md-4" formGroupName="personalDetails" fxFlex="75%" fxFlex.xs="100%">
            <mat-form-field>
                <input matInput placeholder="First name*" class="form-control" formControlName="firstname" />
            </mat-form-field>
        
           <mat-form-field>
                <input matInput placeholder=" Last name*" class="form-control" formControlName="lastname" />
            </mat-form-field>
       
         <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose your day of birth" class="form-control"
                    formControlName="birthday">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        
           <mat-radio-group aria-label="Select an option"  class="form-control" formControlName="gender" >
                <mat-radio-button class="radio" value="0">Female</mat-radio-button>
                <mat-radio-button class="radio" value="1">Male</mat-radio-button>                
                <mat-radio-button class="radio" value="2">Other</mat-radio-button>
            </mat-radio-group>
            <br/>
        <button mat-raised-button type="button" matStepperNext (click)="step1Submitted()">Next</button>
        </div>
    </div>
</mat-card>